.cta-sympla {
    background-color: #F77339;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
    padding: 10px 35px;
    border-radius: 25px;
}
.cta-sympla:hover{
    color: #fff;
}

.menu-top {
    color: #6B1F60;
    font-weight: bold;
}
.menu-top:hover{
    text-decoration: none;
    color: #6B1F60;
}
.banner {
    background-color: #808080;
    width: 100%;
    height: 400px;
    background: url("../img/banner.jpg") no-repeat center;
    background-size: cover;
    color: #ffff;
    margin-bottom: 60px;
}
.img_banner{
	width: 100%;
	height: 300px;
}
.button-banner {
    display: table;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 60px;
    font-size: 25px;
    border-radius: 90px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6B1F60;
    
}
.button-banner:hover{
    text-decoration: none;
    color: #6B1F60;
}
.button-banner > img {
    width: 22px;
    height: auto;
    
}

.img_logo{
	width: 200px;
	height: 90px;
}

.cta > p{
	line-height: 150px;
	margin-bottom: 0 auto;
	padding: 0 auto;
	letter-spacing: .2rem;
	text-transform: uppercase;
	text-decoration: none;
}
.cta > button{
	line-height: 0px;
	width: 250px;
	display: table;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #6b1f60;
}
.cta > button:hover{
	color:#6b1f60;
}
.cta> h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 60px;
}
h2:after{
	content: "";
	display: block;
	width: 90px;
	height: 4px;
	border-radius: 2px;
	margin: 8px auto;
	margin-bottom: 30px;
	background-color:#f8733a;
}
h3{
	color: #f8733a;
	font-variant: normal;
}
.img_sobre{
	border-radius: 30px;
}

.square {
    width: 445px;
    height: 327px;
    position: absolute;
    border: 2px solid #F77339;
    border-radius: 30px;
    right: 3px;
    top: -15px;
}
.sympla {
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding: 10px 25px;
    background-color: #6B1F60;
    color: #fff;
    border-radius: 35px;
}

.sympla:hover{
    text-decoration: none;
    color: #fff;
}

.items {
    padding-left: 15px;
    justify-content: space-around;
}
.fa_quando{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 7px;
	background-color: #6b1f60;
	color: #fff;
}
.fa_onde{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 9px;
	background-color: #f8733a;
	color: #fff;
}
.divisor{
	width: 100%;
	background-color: #decdc5;
	height: 2px;
	margin-top: 80px;
}
.img_midias{
	width: 30px;
	height: 30px;
	align-items: center;
	padding: 6px;
	border-radius: 50%;
	background-color: #decdc5;
	border: 1px #f8733a solid;
	color: #f8733a;
}